*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #000000;
    opacity: 86%;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-decoration: none;
}
nav li a{
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav li a:hover{
    color: rgba(255, 255, 255, 0.5)
}
#ins{
    font-size: large;
    display: inline-block;
    color: rgb(255, 75, 228);
    cursor: pointer;
}
#parent{
    display: flex;
}
#quaid-img{
    width: 10em;
    height: 10em;
    margin-left: 6.2em;
    margin-top: 1em;
    border-radius: 50%;
    display: flex;
}
#para-1{
    display: inline-block;
    width: 55%;
    margin-left: 3%;
    margin-top: 4%;
    font-weight: 400;
    background-color: #a4a4a4;
}